form {
    margin-left: 20%;
    width: 60%; /* Adjust the width as needed */
  }
  
  label {
    display: inline-block;
    width: 120px; /* Adjust the width as needed */
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select,
  input[type="date"] {
    width: calc(100% - 130px); /* Adjust the width as needed */
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button.router-link-button {
    margin-top: 20px;
  }
  
  .required {
    color: red;
  }

  .text-danger{
    color: red;
  }
  